__pycache__/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store

input
output
settings.json

README.it.md

web-ui/python-api/main.py
web-ui/python-api/requirements.txt

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules